#!/usr/bin/make -f
# debian/rules for the Debian xdm package.
# Copyright © 2004 Scott James Remnant <scott@netsplit.com>
# Copyright © 2005 Daniel Stone <daniel@fooishbar.org>
# Copyright © 2005 David Nusinow <dnusinow@debian.org>
# Copyright © 2006 Eugene Konev <ejka@imfi.kspu.ru>

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# set this to the name of the main shlib's binary package
PACKAGE = xdm

include debian/xsfbs/xsfbs.mk

confflags += --with-pam \
	--with-xdmconfigdir=/etc/X11/xdm \
	--with-xdmscriptdir=\$${xdmconfigdir} \
	--with-xdmauthdir=/var/lib/xdm \
	--with-default-vt=vt7 \
	--with-pixmapdir=/usr/share/X11/xdm/pixmaps \
	--with-color-pixmap=debian.xpm \
	--with-bw-pixmap=debianbw.xpm \
	--disable-dynamic-greeter \
	--disable-xdm-auth \
	--with-xft

CFLAGS = -Wall -g
ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	MAKEFLAGS += -j$(NUMJOBS)
endif

DEB_HOST_ARCH      ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_ARCH_OS  ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH_OS)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
	confflags += --build=$(DEB_HOST_GNU_TYPE)
else
	confflags += --build=$(DEB_BUILD_GNU_TYPE) --host=$(DEB_HOST_GNU_TYPE)
endif

ifeq ($(DEB_BUILD_ARCH_OS), linux)
	confflags += --with-selinux
endif

BUILD_DIR := obj-$(DEB_BUILD_GNU_TYPE)

stampdir_targets+=config
config: $(STAMP_DIR)/config
$(STAMP_DIR)/config: $(STAMP_DIR)/patch
	dh_testdir
	autoreconf -vfi
	>$@

stampdir_targets+=build
build: $(STAMP_DIR)/build
$(STAMP_DIR)/build: $(STAMP_DIR)/prepare $(STAMP_DIR)/config
	dh_testdir
	mkdir -p $(BUILD_DIR)
	cd $(BUILD_DIR) && \
	../configure --prefix=/usr \
	            --mandir=\$${prefix}/share/man \
	            --infodir=\$${prefix}/share/info \
	            $(confflags) \
	            CFLAGS="$(CFLAGS)" APP_MAN_SUFFIX=1
	cd $(BUILD_DIR) && $(MAKE)
	>$@

stampdir_targets+=install
install: $(STAMP_DIR)/install
$(STAMP_DIR)/install: $(STAMP_DIR)/build $(STAMP_DIR)/genscripts
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	cd $(BUILD_DIR) && $(MAKE) DESTDIR=$(CURDIR)/debian/tmp install

	install -m 755 debian/local/Xstartup \
	               $(CURDIR)/debian/tmp/etc/X11/xdm/
	install -m 755 debian/local/Xreset \
	               $(CURDIR)/debian/tmp/etc/X11/xdm/
	install -m 755 debian/local/Xsetup \
	               $(CURDIR)/debian/tmp/etc/X11/xdm/

	install -m 644 debian/local/xdm.options \
	               $(CURDIR)/debian/tmp/etc/X11/xdm/
	install -d $(CURDIR)/debian/tmp/usr/share/man/man5
	install -m 644 debian/local/xdm.options.5 \
	               $(CURDIR)/debian/tmp/usr/share/man/man5/
	install -m 644 debian/local/debian.xpm \
	               $(CURDIR)/debian/tmp/usr/share/X11/xdm/pixmaps/
	install -m 644 debian/local/debianbw.xpm \
	               $(CURDIR)/debian/tmp/usr/share/X11/xdm/pixmaps/
	>$@

clean: xsfclean
	dh_testdir
	dh_testroot
	rm -rf $(BUILD_DIR)
	rm -f aclocal.m4 compile config.guess config.sub config.h.in configure
	rm -f depcomp install-sh ltmain.sh missing INSTALL
	rm -f $$(find -name Makefile.in)
	dh_clean

# Build architecture-dependent files here.
binary-arch: $(STAMP_DIR)/install
	dh_testdir
	dh_testroot

	dh_installdocs
	dh_install --sourcedir=debian/tmp --list-missing
	dh_installchangelogs ChangeLog
	dh_installinit --noscripts
	dh_installdebconf
	dh_installlogrotate
	dh_installpam
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-independent files here.
binary-indep: $(STAMP_DIR)/install
# Nothing to do

binary: binary-indep binary-arch

.PHONY: build install clean binary binary-indep binary-arch
